.markdown-content {
  p {
    color: rgb(83, 97, 113) !important;
  }
}

p,
li {
  color: rgb(83, 97, 113) !important;
}

img {
  max-width: 100%;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
